<form action="/admin/setUserData" method="post" class="form">
    <input type="hidden"  name="id" value="{{ user.id }}">
    <input type="text" name="login" value="{{ user.login }}">
    <input type="text" name="name" value="{{ user.name }}">
    <input type="text" name="password" placeholder="новый пароль">
    <p>если не нужно менять пароль,</p>
    <p>то оставте его пустым</p>
    <button class="btn">Сохранить</button>
</form>