<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shop MVC</title>
    <style>
        .container {
            padding: 20px calc(50% - 600px);
        }

        .section {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        .card {
            width: 220px;
            height: 160px;
            border: 1px solid black;
            padding: 10px;
            margin-bottom: 20px;
            background-color: #c9c9c9;
        }

        .footer {
            padding: 20px;
            background-color: #ccc;
            display: flex;
            justify-content: space-between;
        }
    </style>
</head>
<body>
<div class="container">
    <section class="section">
        {% for item in products %}
            <div class="card">
                <h3>{{ item.name }}</h3>
                <h5>{{ item.category }}</h5>
                <p>цена: &#8381; {{ item.price }}</p>
                <p>соства: {{ item.description }}</p>
            </div>
        {% endfor %}
    </section>
    <div class="footer">
        <span>Shop 2020 &copy;</span>
        {% if next %}
            <a href="/{{ next }}">загрузить ещё</a>
        {% endif %}
    </div>
</div>
</body>
</html>