<table>
    {% for item in order %}
    <tr>
        <td><a href="/catalog/single/{{ item.id }}">{{ item.name }}</a></td>
        <td>{{ item.price }} руб.</td>
        <td>{{ item.count }} шт.</td>
    </tr>
    {% endfor %}
    <tr><td>итого: </td><td>{{ totalSum }} руб.</td><td>{{ totalCount }} шт.</td></tr>
    <tr><td colspan="3">Стратус: {{ status }}</td></tr>
</table>
<header class="menu sub-menu">
    <a href="{{ back }}">назад</a>
</header>
