<div class="card-box">
    <div class="back"><a href="{{ back }}">Вернуться</a></div>
    <div class="card">
        <h3>{{ item.name }}</h3>
        <h5>{{ item.category }}</h5>
        <p>цена: &#8381; {{ item.price }}</p>
        <p>соства: {{ item.description }}</p>
        <p><a href="/catalog/add/{{ item.id }}">добавить в корзину</a></p>
    </div>
</div>